---
import MainNarrow from '../../layouts/MainNarrow.astro';
import AuthFlow from '../../components/login/AuthFlow';

const BASE_URL = import.meta.env.BASE_URL;
---

<MainNarrow title="Login">
    <section id="login-section" class="row d-flex justify-content-center py-2">
        <AuthFlow client:load redirect_url={`${BASE_URL}`} />
    </section>
</MainNarrow>