---
interface Props {
    name?: string;
    href?: string;
    idSuffix?: string;
    style?:string;
}
const {
    name='Contact Us', 
    href='https://www.healthanalyticsmx.com/#bgLayers_comp-klwhcnh9', 
    idSuffix='-contact-button',
    style=""
} = Astro.props;
//class="btn btn-light border-0 rounded-0 mx-2" 
// style="font-weight: 500; height: 38px; text-align: center; vertical-align: middle;"
---
<a
    id={`contact-us${idSuffix}`} 
    class="nav-button-light"
    href={href}
    target={"_blank"}
    style={style}
>
    {name}
</a>