---
import Logo from "../../../images/logo-small.png";

interface Props {
    idSuffix?: string;
    mobile?: boolean;
}
const { idSuffix = "-menu", mobile=false} = Astro.props;

const URL = import.meta.env.BASE_URL;
---
<style is:inline>
    [astro-icon="hamx-logo"]{
        width: 30px;
        height: 30px;
    }
    </style>
<a
id={`logo-button${idSuffix}`} 
href={`${URL}`}
class="nav-button"
>
    {
        mobile ?
        // <Icon name="hamx-logo" alt="Health Analytics MX Logo"></Icon>
        <img src={Logo} style="width: 40px;" />
        : <span class="logo-text">HEALTH ANALYTICS MX</span>
    }
</a>