---
interface Props {
    name: string;
    href: string;
    idSuffix?: string;
}
const {
    name='Login', 
    href='/login', 
    idSuffix='-nav-button'
} = Astro.props;
---
<a id={`${name.toLowerCase()}${idSuffix}`} class="nav-button" href={href}>
    {name}
</a>