---
import Icon from "astro-icon"

---
<style is:inline>
    [astro-icon="email"] { 
        width: 100%;
        width: 24px;
        height: 24px;
    }
    [astro-icon="phone"] { 
        width: 100%;
        width: 24px;
        height: 24px;
    }
    [astro-icon="twitter"] { 
        padding: 16px;
        padding-bottom: 20px;
        color: #55ACEE; 
    }
    [astro-icon="linkedin"] {
        padding: 16px;
        padding-bottom: 20px;
        color: #007bb5; 
    }
    [astro-icon]:hover {
        color: #999999; 
    }
    .icon-wrapper {
        display: inline-block;
        background-color: #F8F9FA;
        width: 3em;
        height: 3em;
        margin: 0px 4px 0px 4px;
        border-radius: 45px;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
        text-decoration: none;
    }
</style>
<section id="footer-row-2" class="row my-3">
    <div class="col-12 col-md-4 hstack gap-3">
        <ul class="px-0 mx-0" style="line-height: 1.5em;">
            <li>
                <h1 class='footer-header text-uppercase'>
                    Contact
                </h1>
            </li>
            <li>
                <Icon name="email" alt="email logo"></Icon>
                <span>avq5ac1@gmail.com</span>
            </li>
            <li>
                <Icon name="phone" alt="phone logo"></Icon>
                <span>+52 2291-727567</span>
            </li>
        </ul>
        <p>
            <a id="socials-twitter-link" class="icon-wrapper" href="https://twitter.com"
                aria-label="Link to Twitter Profile"
            >
                <Icon name="twitter" alt="Twitter logo"></Icon>
            </a>
            <!-- <a id="socials-linkedin-link" class="icon-wrapper" href="https://linkedin.com"
                aria-label="Link to Linkedin Profile"
            >
                <Icon name="linkedin" alt="Linkedin Logo"></Icon>
            </a> -->
        </p>
    </div>
</section>