---
/** Single full-width sub-footer element. */
---
<section 
    id="footer-copyright" 
    class="container-fluid sub-footer-container bg-dark text-muted"
>
    <p>
        <slot/>
    </p>
</section>