<section class="row">
    <div class="col-0 col-md-2"></div>
    <div class="col-12 col-md-8 d-none d-md-block">
        <h1 class="footer-header">
            About Health Analytics MX
        </h1>
    </div>
    <div class="col-0 col-md-2"></div>
</section>