---
import MainLanding from '../layouts/MainLanding.astro';
import LoginButton from "../components/navbar/components/LoginButton.astro";
import ContactButton from '../components/navbar/components/ContactButton.astro';

import LogoLarge from "../images/logo-large-black.png"

const links = [
    {name: "Calculators", href: "calculators"},
    {name: "Metrics", href: "metrics"},
    {name: "Database", href: "database"},
    {name: "Support", href: "support"},
]


---

<MainLanding title="Health Analytics" firstColor="" secondColor="bg-secondary" thirdColor="bg-primary">
	<section slot="first" id="header-section" class="row d-flex justify-content-center">
		<header class="row text-center vstack gap-3">
			<div class="d-flex justify-content-center">
				<img src={LogoLarge} style="width: 150px;"/>
			</div>
			<div class="d-flex justify-content-center">
				<h1 class="landing-page-title">Artificial Intelligence Made Easy</h1>
			</div>
			<div class="d-flex justify-content-center">
				<div class="col-10 col-md-9 text-justify">
					<p class="lh-base text-muted" style="font-size: large; font-weight: 400;">
						Using Data Analytics for the Health & Wellness field to improve processes, obtain accurate risk assessments and  help businesses to achieve growth.
					</p>
				</div>
			</div>
		</header>
		<section class="row text-center pt-4">
			<div class="d-flex justify-content-center lh-lg">
				<LoginButton idSuffix={'-homepage'} style={"width: 120px; font-weight: 500;"}></LoginButton>
				<ContactButton idSuffix={'-homepage'} style={"width: 120px; font-weight: 500;"}></ContactButton>
			</div>
		</section>
	</section>
	<section slot="second" id="second-landing-section" class="container-fluid text-primary">
		<div class="row text-center py-2">
			<div class="col-12 col-md-4 my-2" style="height: 200px">
				<div class="row vstack gap-2">
					<header class="text-start">
						<h4 class="landing-page-subtitle">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#444" d="M7 17h2v-7H7v7Zm4 0h2V7h-2v10Zm4 0h2v-4h-2v4ZM5 21q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.588 1.413T19 21H5Z"/></svg>
							DATA VISUALIZATIONS
						</h4>
					</header>
					<div class="text-start"><p>
						Grow your business based on data-driven decisions by visualizing social, consumer, or popular trends.
					</p></div>
					<div class="text-start">
						<button class="btn btn-primary lh-lg" style="font-weight: 500;">View Reports</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 my-2" style="height: 200px">
				<div class="row vstack gap-2">
					<header class="text-start">
						<h4 class="landing-page-subtitle">
							<!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="#444" d="M27 24a2.96 2.96 0 0 0-1.285.3l-4.3-4.3H18v2h2.586l3.715 3.715A2.966 2.966 0 0 0 24 27a3 3 0 1 0 3-3zm0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1zm0-15a2.995 2.995 0 0 0-2.816 2H18v2h6.184A2.995 2.995 0 1 0 27 13zm0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1zm0-15a3.003 3.003 0 0 0-3 3a2.966 2.966 0 0 0 .348 1.373L20.596 10H18v2h3.404l4.4-4.252A2.999 2.999 0 1 0 27 2zm0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1z"/><path fill="currentColor" d="M18 6h2V4h-2a3.976 3.976 0 0 0-3 1.382A3.976 3.976 0 0 0 12 4h-1a9.01 9.01 0 0 0-9 9v6a9.01 9.01 0 0 0 9 9h1a3.976 3.976 0 0 0 3-1.382A3.976 3.976 0 0 0 18 28h2v-2h-2a2.002 2.002 0 0 1-2-2V8a2.002 2.002 0 0 1 2-2Zm-6 20h-1a7.005 7.005 0 0 1-6.92-6H6v-2H4v-4h3a3.003 3.003 0 0 0 3-3V9H8v2a1 1 0 0 1-1 1H4.08A7.005 7.005 0 0 1 11 6h1a2.002 2.002 0 0 1 2 2v4h-2v2h2v4h-2a3.003 3.003 0 0 0-3 3v2h2v-2a1 1 0 0 1 1-1h2v4a2.002 2.002 0 0 1-2 2Z"/></svg> -->
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-3.1 3.9s-.7-.3-1-.3c-.6-.1-1 .1-1.2 1.1L12 16.8c-.2.8-.5 1.4-1 1.8c-.4.3-.8.4-1.3.4c-.8 0-2-.5-2-.5l.5-1.4s.8.3 1 .3c.3.1.5 0 .7-.1c.2-.1.3-.4.4-.7l1.6-9.2c.1-.8.5-1.4 1-1.9c.6-.4 1.3-.5 2.1-.4c.7.1 1.5.5 1.5.5l-.6 1.3Z"/></svg>
							MEDICAL CALCULATORS
						</h4>
					</header>
					<div class="text-start"><p>
						Our expert Artificial Intelligence Systems will help you improve your administrative and medical assessments throughout your practice.
					</p></div>
					<div class="text-start">
						<button class="btn btn-success lh-lg" style="font-weight: 500;">Get Started</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 my-2" style="height: 200px">
				<div class="row vstack gap-2">
					<header class="text-start">
						<h4 class="landing-page-subtitle">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#444" d="M12 11q-3.75 0-6.375-1.175T3 7q0-1.65 2.625-2.825T12 3q3.75 0 6.375 1.175T21 7q0 1.65-2.625 2.825T12 11Zm0 5q-3.75 0-6.375-1.175T3 12V9.5q0 1.1 1.025 1.863t2.45 1.237q1.425.475 2.963.688T12 13.5q1.025 0 2.563-.213t2.962-.687q1.425-.475 2.45-1.237T21 9.5V12q0 1.65-2.625 2.825T12 16Zm0 5q-3.75 0-6.375-1.175T3 17v-2.5q0 1.1 1.025 1.863t2.45 1.237q1.425.475 2.963.688T12 18.5q1.025 0 2.563-.213t2.962-.687q1.425-.475 2.45-1.238T21 14.5V17q0 1.65-2.625 2.825T12 21Z"/></svg>
							PATIENT DATABASE
						</h4>
					</header>
					<div class="text-start"><p>
						Stored in highly secure private cloud servers, our databases integrate ICD-11 Codes and follow HIPAA Privacy specifications.
					</p></div>
					<div class="text-start">
						<button class="btn btn-primary lh-lg" style="font-weight: 500;">Learn More</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section slot="third" id="third-landing-section" class="text-light container-fluid d-flex justify-content-center">
		<!-- <div class="row">
			<p>
				Our company combines cutting-edge computational systems using Data Science for the Health & Wellness field. We offer novel Machine Learning Applications and Calculators for the medical field, helping doctors and hospitals to be part of the Artifical Intelligence Revolution.
			</p>
			<h3>
				What is a Data Scientist?
			</h3>
			<p>
				A  Data Scientist is a data expert. The role of a data scientist is to combine computer science, statistics, and mathematics. It is one 
				of the most demanded professions today, due to the increasing data quantity managed by companies and professionals. 
			</p>
		</div> -->
	</section>
</MainLanding>
