---
import UserData from "./UserData";

const BASE_URL = import.meta.env.BASE_URL;

export interface Props {
    redirectUser: boolean;
}
const { redirectUser } = Astro.props;
---
<div
    id="userbar"
    class="navbar border-bottom bg-secondary bg-gradient text-light"
    style="transform: translateY(-40px);"
>
    <section id="userbar-content" class="container" style={`height: 20px;`}>
        <UserData client:only redirectURL={`${BASE_URL}login`} redirect={redirectUser}></UserData>
    </section>
</div>