---
import MainNarrow from '../../layouts/MainNarrow.astro';
import UserData from '../../components/userdata/UserData';
import CalculatorForm from "../../components/calculator/CalculatorForm";

const BASE_URL = import.meta.env.BASE_URL;
---

<MainNarrow title="Calculator">
	<h2>Congenital Heart Diseases</h2>
	<h6 class="mb-4">Estimates days in Intensive Care</h6>
    <UserData client:only redirectURL={`${BASE_URL}login`} show={false}/>
	<CalculatorForm client:load />
	<div class="mb-4"></div>
</MainNarrow>