---
import MainNarrow from '../../layouts/MainNarrow.astro';
import CalculatorForm from "../../components/calculator/CalculatorForm";

---
<MainNarrow title="Calculator" redirectUser={true}>
	<h2>Congenital Heart Diseases</h2>
	<h6 class="mb-4">Estimates days in Intensive Care</h6>
	<CalculatorForm client:load />
	<div class="mb-4"></div>
</MainNarrow>