---
import TopRow from "./components/TopRow.astro";
import MidRow from "./components/MidRow.astro";
import BotRow from "./components/BotRow.astro";

---
<footer id="footer" class="bg-light bg-gradient">   
    <div id="footer-wrapper" class="container-fluid footer-container border-top">
        <TopRow></TopRow>
        <MidRow></MidRow>
        <BotRow></BotRow>
    </div>
    <div id="footer-copyright" class="container-fluid sub-footer-container">
        <section id="footer-copyright-content">
            <p style="color: #555555;">
                Copyright 2023 © Health Analytics MX
            </p>
        </section>
    </div>
</footer>
