---
import WideLayout from "../../layouts/WideLayout.astro";
import User from "../../components/userdata/User.astro";
import PatientIsland from "../../components/database/PatientIsland";
import DiagnosisIsland from "../../components/database/DiagnosisIsland";

---
<WideLayout title={ 'Database' }>
    <h2 style="text-align: center;">Database</h2>
    <User></User>
    <p class="form-text">
        All patient data is de-identified as per HIPAA specifications.
    </p>
    <h6 class='border border-bottom-0 p-2 bg-secondary mb-0'>
        Patient Table
    </h6>
    <!-- TABLES -->
    <PatientIsland client:visible></PatientIsland>
    <p class="form-text">
        All diagnosis data is linked to an ICD-11 code.
    </p>
    <h6 class='border border-bottom-0 p-2 bg-secondary mb-0'>
        Diagnosis Table
    </h6>
    <DiagnosisIsland client:visible></DiagnosisIsland>
</WideLayout>