---
import MainWide from "../../layouts/MainWide.astro";
import DatabaseTabs from "../../components/database/DatabaseTabs";

---
<MainWide title={ 'Database' } redirectUser={true}>
    <h2 class="pb-2" style="text-align: center;">DATABASE</h2>
    <p class="form-text text-center">
        All patient data has been de-identified as per United States HIPAA Privacy Specifications.
    </p>
    <DatabaseTabs client:load></DatabaseTabs>
</MainWide>