---
// Layout for Narrow bootstrap columns
import Layout from "./Layout.astro";

// Astro Props
export interface Props {
	title: string;
    redirectUser?: boolean;
}
const { title, redirectUser=false } = Astro.props;
---
<Layout title={title} redirectUser={redirectUser}>
    <main class="container-fluid py-5">
        <header class="row pb-4">
            <div class='col-1 col-md-3'>
            </div>
            <div class='col-10 col-md-6 text-center'>
                <slot name="header"/>
            </div>
            <div class='col-1 col-md-3'>
            </div>
        </header>
        <section class='row'>
            <slot name="calculator"/>
        </section>
    </main>
</Layout>