---
import MainCalculator from '../../layouts/MainCalculator.astro';
import CalculatorPanel from '../../components/calculator/CalculatorPanel';
---
<MainCalculator title="Calculators" redirectUser={true}>
	<div slot="header">
		<h2 class="text-uppercase">Calculators</h2>
		<p class="form-text">Improve your administrative and medical assessments.</p>
	</div>
	<!-- <h6 class="mb-4">Estimates days in Intensive Care</h6> -->
	<CalculatorPanel slot="calculator" client:load />
	<!-- <div class="mb-4"></div> -->
</MainCalculator>